<div class="Index">

  <TopMenu 
    ref="TopMenu"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </TopMenu>

  <ViewData 
    v-show="localConfig.view === 'data'"
    ref="ViewData"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </ViewData>

  <ViewConfiguration 
    v-show="localConfig.view === 'configuration'"
    ref="ViewConfiguration"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </ViewConfiguration>
  
  <ViewBrowse 
    v-show="localConfig.view === 'browse'"
    ref="ViewBrowse"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </ViewBrowse>

  <ViewSearch
    v-show="localConfig.view === 'search'"
    ref="ViewSearch"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </ViewSearch>

  <Author 
    v-show="localConfig.view === 'author'"
    ref="Author"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </Author>

</div>